{% extends 'base.html.twig' %}

{% form_theme serieForm 'bootstrap_5_layout.html.twig' %}

{% block title %}{{ parent() }} :: Edit{% endblock %}

{% block body %}
    <h2>Edition de série</h2>

    {{ form(serieForm) }}

    {% if serie is defined and serie.poster is not empty %}
        <img src="{{ asset('posters/series/' ~ serie.poster) }}">
    {% endif %}

{% endblock %}