{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Series{% endblock %}

{% block body %}
    <section>
        {% for serie in series %}
            <a href="{{ path('app_serie_detail', {'id': serie.id}) }}"><img src="{{ asset('posters/series/' ~ serie.poster) }}" width="300px" loading="lazy" /></a>
        {% endfor %}
    </section>
{% endblock %}
