{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: Series{% endblock %}

{% block body %}
    <section>
        {% for serie in series %}
            <a href=""><img src="" width="300px" loading="lazy" />{{ serie.name }} : {{ serie.overview }}
            </a>
        {% endfor %}
    </section>
{% endblock %}
